*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
    font-family: "Roboto Cn", sans-serif;
}

/* chuyển code */

.slider{
    height: 500px;
}
.wrapper{
    text-align: center;
}
.container{
    display: inline-block;
}
.row{
    margin-top: 30px;
}
.footer{
    background-color: black;
    height: 200px;
    text-align: center;
}
.footer .copyright{
    margin-top: 60px;
    width: 90%;
    display: inline-block;
    margin-bottom: 5px;
}
.footer .fa-brands{
    color: #fff;
}
.footer>p{
    color:#fff;
}