*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.contaiImg{
    display: inline;
}
.footer{
    background-color: #edb4c2;
    height: 200px;
    text-align: center;
    margin-top: 115px;
}
.footer .copyright{
    margin-top: 60px;
    width: 90%;
    display: inline-block;
    margin-bottom: 5px;
}
.footer .fa-brands{
    color: #fff;
}
.footer>p{
    color:#fff;
}